<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Wave</title>
</head>

<body>

    <h1>Sport Wave</h1>

    <ul>
        <% produtos.forEach((produto)=> { %>
            <h2><%= produto.nome %></h2>
            <p class="teste"><b><%= produto.id %></b></p>
            <p><%= produto.descricao %></p>
        <% }); %>
    </ul>
</body>

</html>