<header>
    <section id="header">
        <a href="../../frontEnd/index.html" id="LOGO">
            <img id="logo-sportwave" src="../assets/img/logo-sportwave.png" alt="">
        </a>

        <form id="pesquisar" action="#">
            <input type="text" id="search" placeholder="o que você procura?">
        </form>


        <div id="icons">
            <ul class="icons">
                <li><a href="../form/index.html"><img class="profile" src="../assets/img/user-solid.svg" alt=""></a>
                </li>
                <li><a href="../carrinho/checkout/index.html"><img class="cart"
                            src="../assets/img/cart-shopping-solid.svg" alt="cart"></a></li>
                <li><a href="../favoritos/favoritos.html"><img class="heart" src="../assets/img/heart-solid.svg"
                            alt=""></a></li>
            </ul>
        </div>
    </section>
</header>