<nav>
    <section id="navbar">
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="navbar nav-list">
            <li><a class="active" href="../layouts/base.ejs">Início</a></li>
            <li><a href="../layouts/roupas.ejs">Roupas</a></li>
            <li><a href="../acessorios/acessorios.html">Acessórios</a></li>
            <li><a href="../categorias/beachtennis.html">Beach Tennis</a></li>
            <li><a href="../categorias/volei.html">Vôlei de Praia</a></li>
            <li><a href="../categorias/surf.html">Surf</a></li>
        </ul>
    </section>
</nav>